[Unit]
Description=Auto Suspend on Low Battery
After=syslog.target

[Service]
Type=simple
ExecStart=/usr/local/bin/battery-auto-suspend
Restart=on-success

[Install]
WantedBy=multi-user.target
